<html>
<body>
    <% const result=JSON.parse(JSON.stringify(data)) %>
     <h3 style="text-align: center;"> Messages </h3>
    <div style="display:flex;flex-direction:column;justify-content:center;align-items: center;font-size: 20px;"> 
    <% for(let i=0;i<result.length;i++) { %>   
    <div>--------------------------------------------------------------------------------------------</div>
    <div style="text-align: center;">
    <div height="20px" width="100%">  </div>
   
    <div> <span> <b>Sender :</b> </span> <span> <%= result[i].Sender %> </span> </div>
    <div> <span><b> Message :</b> </span> <span><%= result[i].Message %> </span> </div>
    <div> <span><b> Time :</b>  </span> <span><%= new Date(result[i].Time) %> </span> </div>
  </div>
    <% } %> 
    <div>--------------------------------------------------------------------------------------------</div>

   </div>
    </div>
</body>
<script>
   
</script>
</html>